body {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    font-family: "Roboto", sans-serif;
        
}

.weather-app{
    background: white;
    margin: 45px auto;
    padding: 30px;
    max-width: 600px;
    border-radius: 14px;



}
header {
    border-bottom: 1px solid#ececec ;
    padding: 0 0 25px 0;
}

.search-input-form {
    background-color: #ececec;
    border: none;
    padding: 15px;
    width: 400px;
    border-radius: 4px;
    font-size: 15px;
}

.search-form {
    padding: 15px 15px;
    border: none;
    background: #885df1;
    border-radius:4px ;
    color: white;
    font-size: 15px;
    margin: 5px;
}

a {
    color: #885df1;
    text-decoration: none;
}

footer {
    border-top: 1px solid #ececec;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: 13px;
}