body {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

.weather-app{
    background: white;
    margin: 45px auto;
    padding: 30px;
    max-width: 600px;
    border-radius: 14px;



}